{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
  <div id="app" class="container top-padding">
  	<div class="row align-items-start">
  		<div class="card col-md-12">
  			<div class="card-body">
  				Message One
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Two
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Three
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message One
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Two
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Three
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message One
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Two
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Three
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message One
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Two
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Three
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message One
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Two
  			</div>
  		</div>

  		<div class="card col-md-12">
  			<div class="card-body">
  				Message Three
  			</div>
  		</div>
  	</div>
  	<div id="text-box" class="row align-items-end top-padding">
  		<textarea class="form-control col-md-12" placeholder="Type in a message to the chatbot..."></textarea>
  	</div>
  </div>
{% endblock %}

