{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
  <div id="app" class="container top-padding">
  	<div class="row">
  		<div class="col-md-12 messages">
  			<div class="card col-md-6 chat-message offset-md-6">
					<p>Hi, my name is Chatterbot. A Chat bot that isn't that smart and talking to me will make you
							feel like it's 2009 again with so called smart Chatbots not like Google Talk, Siri or the rest
							so just know I'm an OpenSource simple project.</p>
					<p>I've been invited here to show how you can talk to me using websockets, hope you have fun...</p>
					<p>Type something into the field and click the arrow button to send the message. I've also only been trained
							on english only.</p>
				</div>
  		</div>
	  		
  	</div>
  	<div id="text-box" class="row top-padding">
  		<div class="col-md-12">
  			<textarea class="form-control text" ></textarea>
				<i class="fas fa-arrow-circle-right send-btn" ></i>
				<p class="error-message no-message hidden">Please type something first.</p>
  		</div>
  	</div>
  </div>
{% endblock %}

