{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block content %}
  <div id="app" class="container top-padding">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="card col-md-6">
					
	  		</div>
  		</div>
	  		
  	</div>
  	<div id="text-box" class="row top-padding">
  		<div class="col-md-12">
  			<textarea class="form-control" ></textarea>
  			<i class="fas fa-arrow-circle-right send-btn" ></i>
  		</div>
  	</div>
  </div>
{% endblock %}

